<h1>Welcome to CSE Motors!</h1>
<section id="top-hero">
    <div id="car-info">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>        
    </div>
</section>
<div id="lower-hero">
    <div id="upgrades">
        <h2>Upgrades</h2>
        <ul id="upgrades-list">
            <li class="upgrade">
                <figure>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </figure>
                <a href=/FluxCapacitor>Flux Capacitor</a>
            </li>
            <li class="upgrade">
                <figure>
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </figure>
                <a href=/flam>Flame Decals</a>
            </li>
            <li class="upgrade">
                <figure>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </figure>
                <a href=/sticker>Bumper Stickers</a>
            </li>
            <li class="upgrade">
                <figure>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </figure>
                <a href=/hubCap>Hub Caps</a>
            </li>
        </ul>
    </div>
    <div id="reviews">
        <h2>Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic vehicle of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>       
    </div>    
</div>